{{- if .Values.serviceAccount.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "volume-replicator.fullname" . }}
  labels:
    {{- include "volume-replicator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - replication.storage.openshift.io
    resources:
      - volumereplicationclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - replication.storage.openshift.io
    resources:
      - volumereplications
    verbs:
      - get
      - delete
      - create
      - update
      - list
      - watch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - delete
      - create
      - update
      - list
      - watch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "volume-replicator.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "volume-replicator.fullname" . }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ include "volume-replicator.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}